
*{
  margin: 0;
  box-sizing: border-box;
  -webkit-print-color-adjust: exact;
}
body{
 font-size:13px;
  font-family: 'Roboto', sans-serif;
}
::selection {background: #f31544; color: #FFF;}
::moz-selection {background: #f31544; color: #FFF;}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
	
}
.col-left {
    float: left;
}
.col-right {
    float: right;
}
h1{
  font-size: 1.5em;
  color: #444;
}
h2{font-size: .9em;}
h3{
  font-size: 1.2em;
  font-weight: 300;
  line-height: 2em;
}
p{
  font-size: 1.5em;
  color: #666;
  line-height: 1.2em;
}
a {
    text-decoration: none;
    color: #00a63f;
}


#invoice{
  position: relative;
  margin: 0 auto;
  width: 100%;
  background: #FFF;
}

[id*='invoice-']{ /* Targets all id with 'col-' */
/*  border-bottom: 1px solid #EEE;*/
  padding: 20px;
}

#invoice-top{border-bottom: 2px solid #009fdf;}
#invoice-mid{min-height: 110px;}
#invoice-bot{ min-height: 240px;}

.logo{
    display: inline-block;
    vertical-align: middle;
	width: 110px;
    overflow: hidden;
}

.logonew{
    display: inline-block;
    vertical-align: middle;
	width: 100%;
    overflow: hidden;
	border-bottom: 2px solid #009fdf;
}

.info{
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}
.logo img,
.clientlogo img {
    width: 100%;
}
.clientlogo{
    display: inline-block;
    vertical-align: middle;
	width: 50px;
}
.clientinfo {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px
}
.title{
  float: right;
}
.title p{text-align: right;}
#message{margin-bottom: 30px; display: block;}
h2 {
    margin-bottom: 5px;
    color: #383333;
}
.col-right td {
    color: #383333;
    padding: 15px 8px;
    border: 0;
    font-size: 1em;
    border-bottom: 1px solid #eeeeee;
}
.col-left td {
    color: #383333;
    padding: 15px 8px;
    border: 0;
    font-size: 1em;
    border-bottom: 1px solid #eeeeee;
}


.col-right td label {
    margin-left: 5px;
    font-weight: 600;
    color: #383333;
}
.col-left td label {
    margin-left: 8px;
    font-weight: 600;
    color: #383333;
}
.cta-group a {
    display: inline-block;
    padding: 7px;
    border-radius: 4px;
    background: rgb(196, 57, 10);
    margin-right: 10px;
    min-width: 100px;
    text-align: center;
    color: #fff;
    font-size: 1em;
}
.cta-group .btn-primary {
    background: #00a63f;
}
.cta-group.mobile-btn-group {
    display: none;
}
table{
  width: 100%;
  border-collapse: collapse;
}
td{
    padding: 10px;
    border-bottom: 1px solid #000;
    font-size: 1em;
    text-align: left;
}

.tabletitle th {
  border-bottom: 1.5px solid #000;
  text-align: left;
}
.tabletitle th:nth-child(3) {
    text-align: left;
}
th {
    font-size: 1em;
    text-align: left;
    padding: 5px 10px;
}
.item{width: 50%;}
.list-item td {
    text-align: left;
}
.list-item td:nth-child(3) {
    text-align: left;
}
.total-row th,
.total-row td {
    text-align: right;
    font-weight: 700;
    font-size: 1em;
    border: 0 none;
}

footer {
    border-top: 1px solid #eeeeee;;
    padding: 15px 20px;
}
.effect2
{
  position: relative;
}
.effect2:before, .effect2:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.effect2:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}
.smalltable
{
width:50%;
border-collapse: initial;
border:1.5px solid #000;
margin-top:20px;
}
.table-main th tr td 

{
	
	 color: #383333;
    padding: 10px 8px;
	font-weight:400;
    border: 0;
    font-size: 1.2em;

	
}
.tableitem span

{
	  font-size: 1em;
	  
	font-weight:400;
	
}
.tabletitle

{
	
		 color: #383333;
    padding: 10px 8px;
	font-weight:400;
    border: 0;
    font-size: 1.2em;
   
}


.smalltable td {
    color: #383333;
    padding: 10px 8px;
	font-weight:400;
    border: 0;
    font-size: 1em;
    border-bottom: 1px solid #000;
}